rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {

    match /{document=**} {
      // 読み取り: ログイン中のユーザーのみ許可
      allow read: if request.auth != null;

      // 書き込み: ログイン中でゲストでないユーザー（メール、Google）のみ許可
      allow write: if request.auth != null &&
                    request.auth.token.firebase.sign_in_provider != 'anonymous';
    }
  }
}

// 以下のコマンドで本番環境にも適用
// firebase deploy --only firestore:rules
